# Rust Build Artifacts
/target/

# Database Files
*.db
*.db-journal
*.db-wal
*.db-shm

# Secrets and Dynamic Data
data/
*.salt

# TeX / LaTeX Compiler Outputs
texput.pdf
*.aux
*.log
*.out
*.toc

# Environment Files
.env*
!.env.example
